.jumbotron {
    margin-bottom: 0px;
    background-color: #003c69;
	color: #dbceac;
    text-shadow: #2E2633 0.1em 0.1em 0.1em;
}

.jumbotron h1 {
	color: #faf8f3;
}

.jumbotron h4 {
	color: #e2f4f8;
}

.jumbotron h5 {
	color: #e2f4f8;
}

.wsu {
	color: #981e32;
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: #c60c30;
}
