@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

.leadership {
  font-weight: bold;
}

.talks {
  font-size: large;
}

.talks-header {
  font-weight: bold;
}

.hero-header {
  text-shadow: 1px 1px #000000;
  color: #FFFFFF;
}
